{% extends 'base.html.twig' %}
{% block links %}
	<link rel="stylesheet" href="{{ asset('/assets/css/blog.css') }}">
{% endblock %}

{% block body %}
	<div id="posts_sec">
        {#Technology#}
		<div class="teh-wrap">
			<div class="teh">
				<ul class="lists">
                    {% for tech in technologies %}
						<li><a href="/rmt?id={{tech.id}}"><span>{{ tech.name }}</span></a></li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="container">

            {% for post in posts %}
				<!-- Post -->
				<div class="post">
					<div class="row">
						<div class="col-md-2 offset-md-1 inf-wrap">
							<div class="info">
								<span class="date">
									<span class="month">{{ post.date }}</span>
								</span>

								<ul class="stats">
									<li><a href="#" class="icon fa fa-comment"><span> {{ post.comments }}</span></a></li>
									<li><a href="#" class="icon fa fa-heart"><span> {{ post.likes }}</span></a></li>
									<li><a href="#" class="icon fa fa-facebook"><span> {{ post.reposts }}</span></a></li>
									<li><a href="#" class="icon fa fa-twitter"><span> {{ post.reposts }}</span></a></li>
								</ul>
							</div><!-- end info -->
						</div>

						<div class="col col-md-8 intr-wrap">
							<!-- introduction -->
							<div class="intr">
								<header>
									<a href="/deletePost?id={{ post.id }}">DEL</a>
									<h2><a href="#">{{ post.title }}</a></h2>
									<p>{{ post.subtitle }}</p>
								</header>


								<div class="img_post">
									<a href="#"><img src="{{ asset('/assets/img/pic01.jpg') }}" style="width: 100%;"></a>
								</div>
								<p> {{ post.content }}</p>
							</div><!-- END introduction -->
						</div>
					</div><!-- END row -->
				</div><!-- END post -->
            {% endfor %}

		</div><!-- END container -->
	</div><!-- END post_sec -->
{% endblock %}
