{% extends 'base.html.twig' %}
{% block links %}
	<link rel="stylesheet" href="{{ asset('/assets/css/blog.css') }}">
{% endblock %}

{% block body %}
	<div style="margin-top:40px"></div>
	<div id="posts_sec">
        {#Technology#}
		<div class="teh-wrap">
			<div class="teh">
				<ul class="lists">
                    {% for tech in technologies %}
						<li><a href="/rmt?id={{tech.id}}"><span>{{ tech.name }}</span><span> {{ tech.lang }}</span></a></li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="container">

            {% for post in posts %}
				<!-- Post -->
				<div class="post">
					<div class="row">
						<div class="col-md-2 offset-md-1 inf-wrap">
							<div class="info">
								<span class="date">
									<span class="month">{{ post.date }}</span>
								</span>

								<ul class="stats">
									<li><a href="#" class="icon fa fa-comment"><span> {{ post.comments|length}}</span></a></li>
									<li><a href="#" class="icon fa fa-heart"><span> {{ post.likes }}</span></a></li>
									<li><a href="#" class="icon fa fa-facebook"><span> {{ post.reposts }}</span></a></li>
									<li><a href="#" class="icon fa fa-twitter"><span> {{ post.reposts }}</span></a></li>
								</ul>
							</div><!-- end info -->
						</div>

						<div class="col col-md-8 intr-wrap">
							<!-- introduction -->
							<div class="intr">
								<header>
									<a href="/deletePost?id={{ post.id }}">DEL</a>
									<h2><a href="#">{{ post.title }}</a></h2>
									<p>{{ post.subtitle }}</p>
								</header>


								<div class="img_post">
									<a class="image-popup-vertical-fit" href=""><img src="{{ post.images[0] }}" alt=""></a>
									{#<a href="#"><img src="https://images.unsplash.com/photo-1489701364164-4e4c2e9c00f0?dpr=1&auto=format&fit=crop&w=1500&h=807&q=80&cs=tinysrgb&crop=" ></a>#}
								</div>
								<p> {{ post.content }}</p>
								<a class="more" href="/post?id={{ post.id }}">more</a>
							</div><!-- END introduction -->
						</div>
					</div><!-- END row -->
				</div><!-- END post -->
            {% endfor %}

			<script src="{{ asset('/assets/js/magnific-popup.js') }}"></script>
		</div><!-- END container -->
	</div><!-- END post_sec -->
{% endblock %}
