{% extends 'base.html.twig' %}

{% block title %}
	Intro
{% endblock %}

{% block links %}
	<link rel="stylesheet" href="{{ asset("/assets/css/main-intro.css") }}"/>
{% endblock %}

{% block body %}
		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>What separates design from art <br>is that design is meant to be <br>… functional.” ― Cameron Moll</h1>
					<ul class="actions">
						<li><a href="#" class="button alt scrolly big">Continue</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<article id="one" class="post style1">
				<div class="image">
					<img src="{{ asset("/assets/images/pic14.jpg")}}" alt="" data-position="75% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="#">Ipsum lorem sed magna</a></h2>
							<p class="info">3 days ago by <a href="#">Jane Doe</a></p>
						</header>
						<p>Nullam posuere erat vel placerat rutrum. Praesent ac consectetur dui, et congue quam. Donec aliquam lacinia condimentum. Integer porta massa sapien, commodo sodales diam suscipit vitae. Aliquam quis felis sed urna semper semper. Phasellus eu scelerisque mi. Vivamus aliquam nisl libero, sit amet scelerisque ligula laoreet vel.</p>
						<ul class="actions">
							<li><a href="#" class="button alt">Read More</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#" class="prev disabled"><span class="icon fa-chevron-up"></span></a>
						<a href="#" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Two -->
			<article id="two" class="post invert style1 alt">
				<div class="image">
					<img src="{{ asset("/assets/images/pic13.jpg")}}" alt="" data-position="10% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="#">Donec ex risus mollis</a></h2>
							<p class="info">3 days ago by <a href="#">Jane Doe</a></p>
						</header>
						<p>Nullam posuere erat vel placerat rutrum. Praesent ac consectetur dui, et congue quam. Donec aliquam lacinia condimentum. Integer porta massa sapien, commodo sodales diam suscipit vitae. Aliquam quis felis sed urna semper semper. Phasellus eu scelerisque mi. Vivamus aliquam nisl libero, sit amet scelerisque ligula laoreet vel.</p>
						<ul class="actions">
							<li><a href="#" class="button alt">Read More</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Three -->
			<article id="three" class="post style2">
				<div class="image">
					<img src="{{ asset("/assets/images/pic12.jpg")}}" alt="" data-position="80% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="#">Sed tempus interdum</a></h2>
							<p class="info">3 days ago by <a href="#">Jane Doe</a></p>
						</header>
						<p>Nullam posuere erat vel placerat rutrum. Praesent ac consectetur dui, et congue quam. Donec aliquam lacinia condimentum. Integer porta massa sapien, commodo sodales diam suscipit vitae. Aliquam quis felis sed urna semper semper. Phasellus eu scelerisque mi. Vivamus aliquam nisl libero, sit amet scelerisque ligula laoreet vel.</p>
						<ul class="actions">
							<li><a href="#" class="button alt">Read More</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Four -->
			<article id="four" class="post invert style2 alt">
				<div class="image">
					<img src="{{ asset("/assets/images/pic14.jpg")}}" alt="" data-position="60% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="#">Adipiscing sed urna</a></h2>
							<p class="info">3 days ago by <a href="#">Jane Doe</a></p>
						</header>
						<p>Nullam posuere erat vel placerat rutrum. Praesent ac consectetur dui, et congue quam. Donec aliquam lacinia condimentum. Integer porta massa sapien, commodo sodales diam suscipit vitae. Aliquam quis felis sed urna semper semper. Phasellus eu scelerisque mi. Vivamus aliquam nisl libero, sit amet scelerisque ligula laoreet vel.</p>
						<ul class="actions">
							<li><a href="#" class="button alt">Read More</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Five -->
			<article id="five" class="post style3">
				<div class="image">
					<img src="{{ asset("/assets/images/pic13.jpg")}}" alt="" data-position="5% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="#">Interdum et rutrum</a></h2>
							<p class="info">3 days ago by <a href="#">Jane Doe</a></p>
						</header>
						<p>Nullam posuere erat vel placerat rutrum. Praesent ac consectetur dui, et congue quam. Donec aliquam lacinia condimentum. Integer porta massa sapien, commodo sodales diam suscipit vitae. Aliquam quis felis sed urna semper semper. Phasellus eu scelerisque mi. Vivamus aliquam nisl libero, sit amet scelerisque ligula laoreet vel.</p>
						<ul class="actions">
							<li><a href="#" class="button alt">Read More</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#six" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Six -->
			<article id="six" class="post invert style3 alt">
				<div class="image">
					<img src="{{ asset("/assets/images/pic12.jpg")}}" alt="" data-position="80% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="#">Magna porta aliquam</a></h2>
							<p class="#">3 days ago by <a href="#">Jane Doe</a></p>
						</header>
						<p>Nullam posuere erat vel placerat rutrum. Praesent ac consectetur dui, et congue quam. Donec aliquam lacinia condimentum. Integer porta massa sapien, commodo sodales diam suscipit vitae. Aliquam quis felis sed urna semper semper. Phasellus eu scelerisque mi. Vivamus aliquam nisl libero, sit amet scelerisque ligula laoreet vel.</p>
						<ul class="actions">
							<li><a href="#" class="button alt">Read More</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#" class="scrolly next disabled"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
			</footer>
{% endblock %}

{% block scripts %}
	<script src="{{ asset("/assets/js/jquery.scrolly.min.js")}}"></script>
	<script src="{{ asset("/assets/js/skel.min.js")}}"></script>
	<script src="{{ asset("/assets/js/util.js")}}"></script>
	<script src="{{ asset("/assets/js/main.js")}}"></script>
{% endblock %}